* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}

body {
  background-image: url(../img/sfondo.png);
  margin: 0;
  background-position: top;
  font-family: 'Syne';
  font-size: clamp(18px, 2vw, 22px);
}

header {
  background-color: rgba(255, 255, 204, 0.7);
}

header h1 {
  letter-spacing: 5px;
  font-weight: bold;
}

/*Bottone per tornare su*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  background-color: #871e1d; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  border-color: #a62a26;

  transition: 
    transform 0.3s ease,
    letter-spacing 0.3s ease,
    text-shadow 0.3s ease;
}

#myBtn:hover {
  text-shadow: 0 0 5px #ffffff;
}

#myBtn.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

#myBtn.hide {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

/* Header */
header {
  width: 100%;
  margin: auto;
}

header h1 {
  text-align: center;
  font-size: 50px;
  padding: 6px 0;
  color: #871e1d;
}


/* Navbar */
.topnav {
  overflow: hidden;
  background-color: #871e1d;
  width: 100%;
  transition: top 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: transform 0.3s ease;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    transform 0.3s ease,
    letter-spacing 0.3s ease,
    text-shadow 0.3s ease;
}

.topnav a:hover {
  background-color: #ffffcc;
  color: black;
}


.topnav a.active {
  background-color: #a62a26;
  color: white;
  font-weight: bold;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  margin-right: 5px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #a62a26;
  color: #ffffcc;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

  transition: 
    transform 0.3s ease,
    letter-spacing 0.3s ease,
    text-shadow 0.3s ease;
}

#tendina:hover {
  background-color: #871e1d;
  color: #ffffcc;
}

.topnav .search-container button .topnav i:hover {
  text-shadow: 0 0 5px #ffffff;

}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }

  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child):not(.icon) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    font-size: 20px;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;
  }
  
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Articoli*/
.menu {
  height: fit-content;
  margin: auto;
  padding: 70px;
  background-color: rgba(255, 255, 204, 0.8);

}

.row-menu {

}

.column-menu {
  float: left;
  width: 33%;
  display: flex; /* Usa flexbox per centrare il contenuto */
  align-items: center; /* Centra verticalmente il contenuto */
  justify-content: center; /* Centra orizzontalmente il contenuto */
  text-align: center;
  height: 300px;
  transition: transform 0.4s ease;
}

.column-menu:hover {
  transform: scale(1.03);
}

/* Clear floats after the columns */
.row-menu:after {
  content: "";
  display: table;
  clear: both;
}

/*Hero Image*/
#menu-articoli {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../img/articoli.png);
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex; /* Add this */
  justify-content: center; /* Add this */
  right: 3%;
  border-radius: 10%;
}

#menu-collezioni {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../img/collezioni.png);
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex; /* Add this */
  justify-content: center; /* Add this */
  border-radius: 10%;
}

#menu-autori {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../img/autori.png);
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex; /* Add this */
  justify-content: center; /* Add this */
  border-radius: 10%;
  left: 3%;
}

/* Position text in the middle of the page/image */
.row-menu h2 p {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffcc;
  flex-direction: column; /* Add this */
}

.column-menu h2 {
  transition: 
    transform 0.3s ease,
    letter-spacing 0.3s ease,
    text-shadow 0.3s ease;
}

.bg-text {
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  color: #ffffcc;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

/*Quando passo sopra col mouse ai link delle colonne*/
.column-menu a {
  color: #ffffcc;
  text-decoration: none;
}

.column-menu a:hover {
  color: #ffffcc;
  text-shadow: 0 0 5px #ffffff;
}

@media screen and (max-width: 600px) {
  .row-menu .column-menu {
    float: none;
    width: 100%;
    position: relative;
    margin: 20px 0;
  }
}

@media screen and (max-width: 600px) {
  #menu-articoli {
    right: 0;
  }
}

@media screen and (max-width: 600px) {
  #menu-autori {
    left: 0;
  }
}

/*Footer*/

footer {
  background-color: #871e1d;
  color: #ffffcc;
}

.column-footer {
  float: left;
  width: 33.33%;
  margin: 10px 0;
  padding: 0 3px;
}

ul {
  list-style-type: none;
}

/* Clear floats after the columns */
.row-footer:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-footer {
    width: 100%;
  }
}

.riga-finale {
  text-align: center;
}

.social .fa {
  padding: 10px 6px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: none;
  color: #ffffcc;

  transition: 
    transform 0.3s ease,
    letter-spacing 0.3s ease,
    text-shadow 0.3s ease;
}

/* Add a hover effect if you want */
.fa:hover {
  color: #ffffcc;
  text-shadow: 0 0 5px #ffffff;
}
