* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}

body {
  background-image: url(../img/sfondo.png);
  margin: 0;
  background-position: top;
  font-family: 'Syne';
  font-size: 22px;
}

header {
  background-color: rgb(255, 255, 204, 0.7);
}

/*Bottone per tornare su*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  background-color: #871e1d; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  border-color: #a62a26;
}

#myBtn:hover {
  text-shadow: 0 0 5px #ffffff;
}

/* Header */
header {
  width: 100%;
  margin: auto;
}

header h1 {
  text-align: center;
  font-size: 50px;
  padding: 6px 0;
  color: #871e1d;
}


/* Navbar */
.topnav {
  overflow: hidden;
  background-color: #871e1d;
  width: 100%;
  transition: top 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffffcc;
  color: black;
  transition: top 0.3s ease;
}

.topnav a.active {
  background-color: #a62a26;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  margin-right: 5px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #a62a26;
  color: #ffffcc;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.topnav .search-container button:hover {
  text-shadow: 0 0 5px #ffffff;

}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

/*Articoli*/
.menu {
  height: fit-content;
  margin: auto;
  padding: 70px;
  background-color: rgb(255, 255, 204, 0.8);
}

.row-menu {

}

.column-menu {
  float: left;
  width: 33%;
  display: flex; /* Usa flexbox per centrare il contenuto */
  align-items: center; /* Centra verticalmente il contenuto */
  justify-content: center; /* Centra orizzontalmente il contenuto */
  text-align: center;
  height: 300px;

}

/* Clear floats after the columns */
.row-menu:after {
  content: "";
  display: table;
  clear: both;
}

/*Hero Image*/
#menu-articoli {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../img/articoli.png);
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex; /* Add this */
  justify-content: center; /* Add this */
  right: 3%;
  border-radius: 10%;
}

#menu-collezioni {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../img/collezioni.png);
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex; /* Add this */
  justify-content: center; /* Add this */
  border-radius: 10%;
}

#menu-autori {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../img/autori.png);
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex; /* Add this */
  justify-content: center; /* Add this */
  border-radius: 10%;
  left: 3%;
}

/* Position text in the middle of the page/image */
.row-menu h2 p {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffcc;
  flex-direction: column; /* Add this */
}

.bg-text {
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  color: #ffffcc;
}

/*Quando passo sopra col mouse ai link delle colonne*/
.column-menu a {
  color: #ffffcc;
  text-decoration: none;
}

.column-menu a:hover {
  color: #ffffcc;
  text-shadow: 0 0 5px #ffffff;
}

@media screen and (max-width: 600px) {
  .row-menu .column-menu {
    float: none;
    width: 100%;
    position: relative;
    margin: 20px 0;
  }

@media screen and (max-width: 600px) {
  #menu-articoli {
    right: 0;
  }

@media screen and (max-width: 600px) {
  #menu-autori {
    left: 0;
  }

/*Footer*/

footer {
  background-color: #871e1d;
  color: #ffffcc;
}

.column {
  float: left;
  width: 33.33%;
}

ul {
  list-style-type: none;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column .footer {
    width: 100%;
  }
}

.riga-finale {
  text-align: center;
}

.social .fa {
  padding: 10px 6px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: none;
  color: background-color: #871e1d;
  color: #ffffcc;
}

/* Add a hover effect if you want */
.fa:hover {
  color: #ffffcc;
  text-shadow: 0 0 5px #ffffff;

}



